<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${board.name}">보드</title>
  <th:block th:replace="~{fragments/header :: common-head}"></th:block>
</head>

<body>

  <div th:replace="~{fragments/header :: header('back')}"></div>

  <th:block th:replace="~{fragments/board-header :: board-header(${board}, null)}"></th:block>

  <div class="board-request-wrap">
    <div class="board-grid-empty-icon">
      <svg width="24" height="24"><use href="/img/icons.svg#icon-alert"></use></svg>
    </div>
    <div class="board-request-msg" th:if="${isInvited}">이 보드에서 초대장을 보냈습니다.</div>
    <div class="board-request-msg" th:unless="${isInvited}">이 보드에 접근 권한이 없습니다.</div>

    <th:block th:if="${isInvited}">
      <div class="board-request-actions">
        <form th:action="@{'/members/mypage/boards/' + ${board.id} + '/accept'}" method="post" style="margin:0;">
          <input type="hidden" name="redirectUrl" th:value="@{'/boards/' + ${board.id}}">
          <button type="submit" class="btn-invite-accept">수락</button>
        </form>
        <form th:action="@{'/members/mypage/boards/' + ${board.id} + '/reject'}" method="post" style="margin:0;">
          <input type="hidden" name="redirectUrl" value="/boards">
          <button type="submit" class="btn-invite-reject">거절</button>
        </form>
      </div>
    </th:block>

    <form th:unless="${isRequested or isInvited}" th:action="@{'/boards/' + ${board.id} + '/request'}" method="post" style="margin:0;">
      <button type="submit" class="btn-request">가입 요청</button>
    </form>

    <div th:if="${isRequested}" class="board-request-pending">
      이미 가입 요청을 보냈습니다
    </div>

    <a href="/boards" class="btn-edit" style="margin-top:4px;">
      <svg width="12" height="12"><use href="/img/icons.svg#icon-arrow-left"></use></svg>
      보드 목록으로
    </a>
  </div>

  <th:block th:replace="~{fragments/scripts :: common-scripts}"></th:block>

</body>

</html>