<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="logo-header">
  <a href="/" class="logo">
    <div class="logo-icon">
      <svg width="16" height="16"><use href="/img/icons.svg#icon-logo"></use></svg>
    </div>
    Team Board
  </a>
</header>

<header th:fragment="back-header">
  <a href="/board" class="logo">
    <div class="logo-icon">
      <svg width="16" height="16"><use href="/img/icons.svg#icon-logo"></use></svg>
    </div>
    Team Board
  </a>
  <div class="header-right">
    <span class="nav-username" sec:authentication="name">username</span>
    <button class="hamburger" id="hamburger" type="button" aria-label="메뉴 열기">
      <span></span><span></span><span></span>
    </button>
    <div class="nav-menu" id="nav-menu">
      <a sec:authorize="hasRole('ADMIN')" href="/admin/members" class="btn-back">
        <svg width="12" height="12"><use href="/img/icons.svg#icon-admin"></use></svg>
        관리자
      </a>
      <a href="/board/search" class="btn-back">
        <svg width="12" height="12"><use href="/img/icons.svg#icon-search"></use></svg>
        보드 탐색
      </a>
      <a href="/member/mypage" class="btn-back">
        <svg width="12" height="12"><use href="/img/icons.svg#icon-user"></use></svg>
        마이페이지
      </a>
      <a href="/board" class="btn-back">
        <svg width="12" height="12"><use href="/img/icons.svg#icon-arrow-left"></use></svg>
        메인으로
      </a>
    </div>
  </div>
</header>

<header th:fragment="main-header">
  <a href="/board" class="logo">
    <div class="logo-icon">
      <svg width="16" height="16"><use href="/img/icons.svg#icon-logo"></use></svg>
    </div>
    Team Board
  </a>
  <div class="header-right">
    <span class="nav-username" sec:authentication="name">username</span>
    <button class="hamburger" id="hamburger" type="button" aria-label="메뉴 열기">
      <span></span><span></span><span></span>
    </button>
    <div class="nav-menu" id="nav-menu">
      <a sec:authorize="hasRole('ADMIN')" href="/admin/members" class="btn-back">
        <svg width="12" height="12"><use href="/img/icons.svg#icon-admin"></use></svg>
        관리자
      </a>
      <a href="/board/search" class="btn-back">
        <svg width="12" height="12"><use href="/img/icons.svg#icon-search"></use></svg>
        보드 탐색
      </a>
      <a href="/member/mypage" class="btn-back">
        <svg width="12" height="12"><use href="/img/icons.svg#icon-user"></use></svg>
        마이페이지
      </a>
      <form th:action="@{/member/logout}" method="post" style="margin:0;">
        <button type="submit" class="btn-back">
          <svg width="12" height="12"><use href="/img/icons.svg#icon-logout"></use></svg>
          로그아웃
        </button>
      </form>
    </div>
  </div>
</header>

</html>