<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.promptech.springboottutorial.mapper.BoardMapper">

    <resultMap id="boardResponseDtoMap" type="kr.co.promptech.springboottutorial.model.dto.BoardResponseDto">
        <constructor>
            <idArg column="id"           javaType="Long"/>
            <arg   column="name"         javaType="String"/>
            <arg   column="description"  javaType="String"/>
            <arg   column="color"        javaType="String"/>
            <arg   column="status"       javaType="String"/>
            <arg   column="member_count" javaType="_long"/>
        </constructor>
    </resultMap>

    <select id="getAllBoards" resultMap="boardResponseDtoMap">
        SELECT b.id, b.name, b.description, b.color, b.status,
               COUNT(bm.member_id) AS member_count
        FROM boards b
        LEFT JOIN board_members bm ON b.id = bm.board_id AND bm.board_role IN ('USER', 'MANAGER')
        GROUP BY b.id
    </select>

    <select id="getBoardById" resultType="kr.co.promptech.springboottutorial.model.Board">
        SELECT * FROM boards WHERE id = #{id}
    </select>

    <insert id="createBoard" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO boards (name, color, description) VALUES (#{name}, #{color}, #{description})
    </insert>

    <select id="getBoardsByMemberId" resultMap="boardResponseDtoMap">
        SELECT b.id, b.name, b.description, b.color, b.status,
               COUNT(bm2.member_id) AS member_count
        FROM boards b
        JOIN board_members bm ON b.id = bm.board_id AND bm.member_id = #{memberId} AND bm.board_role IN ('USER', 'MANAGER')
        LEFT JOIN board_members bm2 ON b.id = bm2.board_id AND bm2.board_role IN ('USER', 'MANAGER')
        GROUP BY b.id
    </select>

</mapper>
